openapi: 3.2.0
info:
  title: Drop Shipment Partial Cancellation API
  version: 1.0.0
  contact:
    name: Fulfillment
  description: '## Introduction

    The Drop Ship is used to communicate to the client once an order has been shipped or cancelled from OptiTurn, to close an order within the client''s OMS.'
servers:
- url: https://developer.optoro.com
tags:
- name: Drop Shipment Partial Cancellation
paths:
  /drop_shipment_partial_cancellation:
    post:
      summary: POST a Drop Shipment Partial Cancellation
      operationId: drop_shipment_partial_cancellation
      description: 'Client endpoint to which Drop Shipment Partial Cancellation data is posted to.


        This endpoint along with any authentication mechanisms needed must be communicated to client''s account manager.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DropShipmentPushPartialCancellation'
      responses:
        '200':
          description: Success. Optoro recommends client APIs respond with a JSON-structured object. This is used for debugging purposes only so this guidance is technically optional.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationFailure'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/ServerUnavailable'
      tags:
      - Drop Shipment Partial Cancellation
components:
  responses:
    BadRequest:
      description: Bad Request
    ServerUnavailable:
      description: Client Server Unavailable
    InternalServerError:
      description: Internal Server Error
    Unauthorized:
      description: Not Authorized. A new authentication token will be requested from the client's services and the request will be retried.
  schemas:
    ValidationFailure:
      type: object
      required:
      - message
      - errors
      properties:
        message:
          type: string
          description: Summary of the error(s).
        errors:
          type: array
          description: Contains one or more error objects.
          items:
            type: object
            required:
            - field
            - code
            description: Describes a single validation failure.
            properties:
              field:
                type: string
                description: JSON path of the field that failed validation.
              code:
                type: string
                description: Categorization of validation failure. Defaults to 'invalid'.
                enum:
                - missing_field
                - invalid_type
                - invalid
    DropShipmentPushPartialCancellation:
      type: object
      description: Drop Shipment Partial Cancellation Data
      properties:
        order:
          type: object
          properties:
            id:
              type: integer
              description: An object's database primary key. Do not rely on this value!
              example: 1
            client_identifier:
              type: string
              description: client_identifier associated with the shipment which is also associated with the order
              example: 3fda4c37-6830-469f-b343-9d1a482a97fd
            status:
              type: string
              description: Status of the order.
              example: shipped
            order_items:
              type: array
              description: Order Item attributes
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: An object's database primary key. Do not rely on this value!
                    example: 1
                  client_identifier:
                    type: string
                    description: The order item identifier for the order item, typically coming from the customer's ecommerce platform or OMS
                    example: 296f0b98-7bc5-4750-8cb9-2e36db1ff766
                  status:
                    type: string
                    description: Status of the order item
                    example: cancelled
                  quantity:
                    type: integer
                    description: The quantity of the order item
                    example: 3
                  cancelled_quantity:
                    type: integer
                    description: The quantity of the order item
                    example: 1
                additionalProperties: false
                required:
                - client_identifier
                - status
                - quantity
                - cancelled_quantity
      additionalProperties: false
      required:
      - client_identifier
      - status
      - order_items
